
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section class="micropost_form">
			<%= form_for @micropost do |f| %>
				<%= render 'shared/error_messages', obj: @micropost %>
				<div class="field">
					<%= f.text_area :content, placeholder: "Compose new micropost..." %>
				</div>
					<%= f.submit 'Post', class: 'btn btn-primary' %>
			<% end %>
		</section>
	</aside>