- provide(:title, @title)
.row
  %aside.col-md-4
    %section.user_info
      = gravatar_for @user
      %h1= @user.name
      %span= link_to "view my profile", @user
      %span
        %b Microposts:
        = @user.microposts.count
    %section.stats
      = render 'shared/stats'
      - if @user.followers.any? && @title == 'Followers'
        .user_avatars
          - @user.followers.each do |user|
            = link_to gravatar_for(user, size: 30), user
      - else @user.following.any? && @title == 'Following'
        .user_avatars
          - @user.following.each do |user|
            = link_to gravatar_for(user, size: 30), user
  .col-md-8
    %h3= @title
    = will_paginate
    - if @users.any?
      %ul.users.follow
        %li= render @users
      = will_paginate
