%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= full_title(yield(:title))
    = render 'layouts/rails_default'
  %body
    = render 'layouts/navbar'
    .container
      = render 'shared/flash_messages'
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?